<div class="spacer alpha"></div>
<div class="container">
  <div class="spacer beta"></div>
  <div id="photo">
    <div class="spacer gamma"></div>
    <figure><img alt="Profile photo" src="https://lh3.googleusercontent.com/-EHHNkG_rVjE/AAAAAAAAAAI/AAAAAAAAAAA/DE14IkuiffM/photo.jpg"/></figure>
    <div class="spacer gamma"></div>
  </div>
  <div  id="name">
      <h1>Julien Thivent</h1>
      <h2>U/X Ninja </h2>
  </div>
  <div class="spacer beta"></div>
  <div id="hello">
    <p>
      It's starts with technology to become much more.<br /> Clear paths, minimal friction, rewarding interactions, meaningful design, no visual waste. Beautiful and effective design that gets jobs done and keeps you in a good mood. That's what I do !
    </p>
  </div>
  <div id="contact">
    <ul class="ways">
      <a href="mailto:j@70k1.com"><li class="way email"><div><i></i><span>j@70k1.com</span></div></li></a>
      <a href="tel:+31678901235"><li class="way phone"><div><i></i><span>+31 6 78 90 12 35</span></div></li></a>
      <a href="skype:j.70k1?call"><li class="way skype"><div><i></i><span>j.70k1</div></span></li></a>
      <a href="//linkedin.com"><li class="way linkedin"><div><i></i><span>LinkedIn</div></span></li></a>
    </ul>
  </div>
</div>
