<section>
  <h3 class="title"><a name="education">Education</a></h3>
  <div class="content">
    <div class="positions">
      <div class="position">
        <div class="timeframe">
          <div class="start"><div class="month">February</div><div class="year">2015</div></div>
          <div class="end"><div class="month"></div><div class="year">Present</div></div>
        </div>
        <div class="reference">
          <div class="title">
            U/X Designer
          </div>
          <div class="org">
            IP Formation
          </div>
        </div>
        <div class="description">
        </div>
      </div>
      <div class="position">
        <div class="timeframe">
          <div class="start"><div class="month">May</div><div class="year">2013</div></div>
          <div class="end"><div class="month">February</div><div class="year">2015</div></div>
        </div>
        <div class="reference">
          <div class="title">
            Master in Fluffy Studies
          </div>
          <div class="org">
            Molang Fluffy School.
          </div>
        </div>
        <div class="description">
        </div>
      </div>
    </div>
  </div>
</section>
