<section>
  <h3 class="title"><a name="hobbies">Hobbies</a></h3>
  <div class="content">
    <!--
    <div class="hobbies">
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
      <div class="hobby">
        <img src="https://koreanathome.files.wordpress.com/2011/11/kimchi-closeup.jpg"/>
      </div>
    </div>-->
  </div>
</section>
