<section>
  <h3 class="title"><a name="skills">Skills</a></h3>
  <div class="content">
    <div id="technologies">
      <div class="skill angular">
        <div class="titlebar">
          <div class="title"><div class="icon"></div>Angular.JS</div>
          <div class="rating right level A"></div>
        </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
      <div class="skill node">
        <div class="titlebar">
          <div class="title"><div class="icon"></div>Node.JS</div>
          <div class="rating right level A"></div>
        </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
      <div class="skill foundation">
        <div class="titlebar">
          <div class="title"><div class="icon"></div>ZURB Foundation</div>
          <div class="rating right level A"></div>
        </div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </div>
    </div>
    <div id="languages">
      <div class="skill">
        <div class="titlebar">
          <div class="title">English</div>
        </div>
        <div class="rating level A"></div>
      </div>
    </div>
  </div>
</section>
